absl-py==0.1.13
aioeasywebdav==2.2.0
aiohttp==2.0.7
appdirs==1.4.3
asn1crypto==0.22.0
astor==0.6.2
astropy==3.0.1
async-timeout==1.2.1
attrs==17.3.0
bcrypt==3.1.3
biopython==1.70
bleach==1.5.0
boto3==1.5.27
botocore==1.8.42
cachetools==2.0.0
certifi==2018.1.18
cffi==1.10.0
chardet==3.0.4
click==6.7
ConfigArgParse==0.12.0
cryptography==2.0.3
datacache==0.5.5
datrie==0.7.1
docutils==0.14
dropbox==7.3.1
enum34==1.1.6
filechunkio==1.6
Flask==0.12.2
ftputil==3.2
future==0.16.0
gast==0.2.0
google-auth==1.2.1
google-auth-httplib2==0.0.2
google-cloud-core==0.24.1
google-cloud-storage==1.1.1
google-resumable-media==0.0.2
googleapis-common-protos==1.5.3
grpcio==1.10.0
gtfparse==1.0.7
html5lib==0.9999999
httplib2==0.10.3
idna==2.6
isovar==0.7.5
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
Keras==2.1.5
Markdown==2.6.11
MarkupSafe==1.0
memoized-property==1.0.3
mhcflurry==1.0.0
mhcnames==0.4.8
mhctools==1.6.17
mock==2.0.0
multidict==2.1.4
nose==1.3.7
numpy==1.14.2
pandas==0.22.0
paramiko==2.2.1
pbr==4.0.0
pdfkit==0.6.1
pluggy==0.6.0
prettytable==0.7.2
progressbar33==2.4
protobuf==3.5.2.post1
psutil==5.4.0
py==1.5.2
pyasn1==0.3.6
pyasn1-modules==0.0.5
pycparser==2.18
pyensembl==1.2.6
pyfaidx==0.5.3.1
PyNaCl==1.1.2
pypandoc==1.4
pysam==0.14.1
pysftp==0.2.9
pytest==3.3.1
python-dateutil==2.7.2
python-irodsclient==0.7.0
pytz==2018.3
PyVCF==0.6.8
PyYAML==3.12
ratelimiter==1.2.0
requests==2.18.4
roman==2.0.0
rsa==3.1.4
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.1
sercol==0.1.4
serializable==0.1.1
shellinford==0.3.4
simplejson==3.13.2
six==1.11.0
snakemake==4.7.0
tensorboard==1.7.0
tensorflow==1.7.0
tensorflow-tensorboard==0.4.0rc3
termcolor==1.1.0
tinytimer==0.0.0
typechecks==0.1.0
urllib3==1.22
varcode==0.6.6
vaxrank==0.7.11
Werkzeug==0.14.1
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.0.2
xmlrunner==1.7.7
xvfbwrapper==0.2.9
yarl==0.10.0
